meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Servicio al cliente
meta(meta name="description" content="En este componente formativo, se esquematiza todo un camino estratégico de ideas técnicas y conceptos establecidos que giran alrededor de la excelencia del servicio al cliente. Cada una de las etapas describen los procesos continuos de interacción con este, acompañándolo desde el momento que solicita el servicio o producto que la organización ofrece, hasta la satisfacción completa del cliente.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")