include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: NO ES LA FINAL
        meta(meta name="description" content="Ruta de aprendizaje programa NO ES LA FINAL.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo NO ES LA FINAL
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-color-marfil
                                        li 
                                            span #[strong Nombre del programa:] NO ES LA FINAL
                                        li 
                                            span #[strong Código:] 51210000
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:]
                                            ul
                                                li Procedimiento de ingreso definido.
                                                li Disponibilidad diaria de 2 horas para el desarrollo de las actividades
                                                li Dominio de las condiciones básicas relacionadas con el manejo de herramientas informáticas y de comunicación: correo electrónico, chats, Messenger, procesadores de texto, hojas de cálculo, software para presentaciones, internet, navegadores y otros sistemas y herramientas tecnológicas de la web 2.0


                    

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.png").curso-imagen      


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Todos tenemos historias para contar y hacerlo a través de la ficción nos da la posibilidad de explorar y desarrollar nuestra creatividad. 
                
                p Por esto, en este programa de formación virtual, haremos una introducción a la escritura audiovisual a través del guion de ficción, teniendo como ejes fundamentales la estrcutura clásica de 3 actos y el personaje principal.
                
                p Generaremos una idea, eligiremos un tema y plasmaremos nuestra propuesta de guion de ficción por medio de una sinopsis argumentativa.
                
                p Por último, en un video pitch haremos una presentación visual de la propuesta, teniendo en cuenta nuestro público objetivo.



        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El programa complementario virtual Introducción a la escritura audiovisual nos permite acceder a los mecanismos y fundamentos teóricos para la construcción de escenas, personajes y diálogos en el guion cinematográfico; concediendo orden, coherencia y verosimilitud a las ideas para la creación de historias. Por lo anterior, está dirigido a personas y profesionales del sector audiovisual, interesados en conocer y entender las etapas del proceso de escritura de un producto audiovisual de ficción.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                ul 
                    li Población en general mayor de 14 años que deseen incursionar en el aprendizaje de la escritura de productos audiovisuales.

                    li Estudiantes y/o egresados de áreas afines a las artes visuales, comunicación y realización audiovisual, que quieran capacitarse o complementar sus conocimientos en el ámbito de la escritura audiovisual.




        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje autónomo, el uso de estrategias didácticas activas que estimulan el pensamiento para el análisis de estudios de caso; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas, en ambientes abiertos y pluritecnológicos, que en todo caso recrean el contexto productivo y vinculan al aprendiz y a las organizaciones con la realidad cotidiana y el desarrollo de las competencias.
                
                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:




                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





